<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-card *ngFor="let task of tasks" [class.task-done]="task.status.name === 'Concluído'">
      <ion-card-header>
        <ion-card-subtitle  color="primary">
          {{task?.name}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-toolbar class="ion-no-padding toolbar-no-padding">
          <ion-button fill="clear" slot="end" class="ion-no-margin" color="medium" (click)="viewTask(task)">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <ion-button fill="clear" slot="end" class="ion-no-margin" (click)="showTaskOptions(task, $event)">
            <ion-icon name="ellipsis-vertical" color="medium"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-card-content>
    </ion-card>
  </ion-list>


</ion-content>
